node_modules/
dist/
.next/
build/
coverage/
*.log
.env
.env.local
.env.*.local
uploads/
storage/
.DS_Store
.turbo/
*.tsbuildinfo
dump.rdb

# Flutter release imzo (maxfiy)
apps/mobile/android/key.properties
apps/mobile/android/app/google-services.json
